{% url 'contact' as contacturl %} {% url 'home' as home_url %} <br />
{% url 'loginpage' as login_url %} {% url 'products:listview' as list_url %}
<!-- {% url 'register' as register_url %} -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{home_url}}">E-coomerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == home_url %} active {% endif %}">
        <a class="nav-link" href="{{home_url}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == contacturl %} active {% endif %}">
        <a class="nav-link" href="{{contacturl}}">Contact</a>
      </li>
      <li class="nav-item {% if request.path == list_url %} active {% endif %}">
        <a class="nav-link" href="{{list_url}}">Products</a>
      </li>
      {% if request.user.is_authenticated %}

      <li>
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li>
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      <li>
        <a class="nav-link" href="{{login_url}}">Login</a>
      </li>
      {% endif %}

    </ul>
    {% include  "search/searchform.html" %}

  </div>
</nav>